<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments::head}"></head>

<body>
<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <!--            <a href="index.html" class="brand-wrap">-->
        <!--                <img src="/admin/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">-->
        <!--            </a>-->
        <div>
            <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i>
            </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item">
                <a class="menu-link" th:href="@{/index}"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" th:href="@{/customers}"> <i class="icon material-icons md-person"></i>
                    <span class="text">Customers</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" th:href="@{/categories}"> <i class="icon material-icons md-monetization_on"></i>
                    <span class="text">Categories</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" th:href="@{/products/0}"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" th:href="@{/orderDetails/0}" href="page-orders-1.html"> <i
                        class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
            </li>
            <li class="menu-item active">
                <a class="menu-link active" th:href="@{/Coupon}"> <i class="icon material-icons md-card_giftcard"></i>
                    <span class="text">Coupons</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" th:href="@{/offer/0}"> <i class="icon material-icons md-card_giftcard"></i>
                    <span class="text">Offers</span>
                </a>
            </li>
        </ul>
        <br>
        <br>
    </nav>
</aside>


<main class="main-wrap">

    <header th:replace="~{fragments :: header}"></header>
    <section class="content-main">
        <div class="row">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Add New coupon</h2>
                    <div>
                        <!-- <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                         <button class="btn btn-md rounded font-sm hover-up">Publich</button> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Coupon Details</h4>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/saveCoupon}" th:object="${couponDto}" method="POST"
                              onsubmit="return validateDates()">

                            <div class="mb-4">
                                <label class="form-label">coupon Code</label>
                                <input type="text" th:field="*{couponcode}" name="couponcode" class="form-control"/>
                                <p style="color: red" th:if="${#fields.hasErrors('couponcode')}"
                                   th:errors="*{couponcode}"></p>

                            </div>
                            <div class="mb-4">
                                <label class="form-label">coupon Description</label>
                                <input type="text" th:field="*{couponDescription}" name="couponDescription"
                                       class="form-control"/>
                                <p style="color: red" th:if="${#fields.hasErrors('couponDescription')}"
                                   th:errors="*{couponDescription}"></p>

                            </div>
                            <div class="mb-4">
                                <label class="form-label">Offer Percentage</label>
                                <input type="text" th:field="*{offerPercentage}" name="offerPercentage"
                                       class="form-control"/>
                                <p style="color: red" th:if="${#fields.hasErrors('offerPercentage')}"
                                   th:errors="*{offerPercentage}"></p>

                            </div>
                            <div class="mb-4">
                                <label class="form-label">coupon count</label>
                                <input type="text" th:field="*{count}" name="count" class="form-control"/>
                                <p style="color: red" th:if="${#fields.hasErrors('count')}" th:errors="*{count}"></p>

                            </div>
                            <div class="mb-4">
                                <label class="form-label">Minimum Order Amount</label>
                                <input type="text" th:field="*{minimumOrderAmount}" name="minimumOrderAmount"
                                       class="form-control" id="minimumOrderAmount" onkeyup="updateOfferPercentage()"/>
                                <p style="color: red" th:if="${#fields.hasErrors('minimumOrderAmount')}"
                                   th:errors="*{minimumOrderAmount}"></p>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Maximum offer</label>
                                <input type="text" th:field="*{maximumOfferAmount}" name="maximumOfferAmount"
                                       class="form-control" id="maximumOfferAmount" onkeyup="updateOfferPercentage()"/>
                                <p style="color: red" th:if="${#fields.hasErrors('maximumOfferAmount')}"
                                   th:errors="*{maximumOfferAmount}"></p>
                                <p id="maximumAmountError" style="color: red"></p>
                                <!-- Modified paragraph tag for maximum amount error message -->
                            </div>
                            <!--                            <div class="mb-4">-->
                            <!--                                <label  class="form-label">Minimum Order Amount</label>-->
                            <!--                                <input type="text" th:field="*{minimumOrderAmount}"  name="minimumOrderAmount"   class="form-control" />-->
                            <!--                                <p style="color: red" th:if="${#fields.hasErrors('minimumOrderAmount')}" th:errors="*{minimumOrderAmount}"></p>-->

                            <!--                            </div>-->
                            <!--                            <div class="mb-4">-->
                            <!--                                <label  class="form-label">Maximum offer</label>-->
                            <!--                                <input type="text" th:field="*{maximumOfferAmount}"  name="maximumOfferAmount"   class="form-control"/>-->
                            <!--                                <p style="color: red" th:if="${#fields.hasErrors('maximumOfferAmount')}" th:errors="*{maximumOfferAmount}"></p>-->

                            <!--                            </div>-->
                            <!--                            <div class="form-group"> &lt;!&ndash; Date input &ndash;&gt;-->
                            <!--                                <div class="col-lg-6">-->
                            <!--                                    <div class="mb-4">-->
                            <!--                                        <label class="form-label">Start Date</label>-->
                            <!--                                        <input class="form-control" th:field="*{startDate}" id="startDate" name="startDate"  type="date"/>-->
                            <!--                                        <p style="color: red" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></p>-->

                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                                <div class="col-lg-6">-->
                            <!--                                    <div class="mb-4">-->
                            <!--                                        <label class="form-label">Expire Date</label>-->
                            <!--                                        <input class="form-control" th:field="*{expireDate}" id="expireDate" name="expireDate"  type="date"/>-->
                            <!--                                        <p style="color: red" th:if="${#fields.hasErrors('expireDate')}" th:errors="*{expireDate}"></p>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label class="form-label">Start Date</label>
                                    <input class="form-control" th:field="*{startDate}" id="startDate" name="startDate"
                                           type="date"/>
                                    <p style="color: red" th:if="${#fields.hasErrors('startDate')}"
                                       th:errors="*{startDate}"></p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label class="form-label">Expire Date</label>
                                    <input class="form-control" th:field="*{expireDate}" id="expireDate"
                                           name="expireDate" type="date"/>
                                    <p style="color: red" th:if="${#fields.hasErrors('expireDate')}"
                                       th:errors="*{expireDate}"></p>
                                    <p id="expireDateError" style="color: red"></p>
                                    <!-- Modified paragraph tag for error message -->
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit">Save</button>
                        </form>
                    </div>
                </div> <!-- card end// -->
            </div>
        </div>
    </section> <!-- content-main end// -->
    <footer th:replace="~{fragments :: footer}">
    </footer>
</main>
<script type="text/javascript">
    function validateDates() {
        var startDate = new Date(document.getElementById("startDate").value);
        var expireDate = new Date(document.getElementById("expireDate").value);
        var expireDateError = document.getElementById("expireDateError");
        var minAmount = parseInt(document.getElementsByName("minimumOrderAmount")[0].value);
        var maxAmount = parseInt(document.getElementsByName("maximumOfferAmount")[0].value);
        var maximumAmountError = document.getElementById("maximumAmountError");
        if (maxAmount <= minAmount) {
            maximumAmountError.textContent = "Maximum amount must be greater than minimum amount.";
            return false; // Prevent form submission
        }
        maximumAmountError.textContent = "";
        if (expireDate <= startDate) {
            expireDateError.textContent = "Expire date must be after start date.";
            return false; // Prevent form submission
        }
        expireDateError.textContent = ""; // Clear previous error message

        return true; // Allow form submission
    }
</script>
<div th:replace="~{fragments::scripts}"></div>
</body>

</html>