<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{fragments::head}">
</head>

<body>
<main>
    <header th:replace="~{fragments :: header}"></header>
    <section class="content-main mt-80 mb-80">
        <div class="card mx-auto card-login">
            <div class="card-body">
                <h4 class="card-title mb-4">Sign in</h4>
                <div th:if="${param.error}" class="alert alert-danger text-center">
                    Invalid username or password
                </div>
                <div th:if="${param.logout}" class="alert alert-success text-center">
                    You have been logged out!
                </div>
                <form th:action="@{/do-login}" method="POST">
                    <div class="mb-3">
                        <input class="form-control" name="username" id="username" placeholder="Username" type="text">
                    </div> <!-- form-group// -->
                    <div class="mb-3">
                        <input class="form-control" name="password" id="password" placeholder="Password"
                               type="password">
                    </div> <!-- form-group// -->
                    <div class="mb-4">
                        <button type="submit" class="btn btn-primary w-100"> Login</button>
                    </div> <!-- form-group// -->
                </form>
                <!--                    <p class="text-center mb-4">Don't have account? <a th:href="@{/register}">Sign up</a></p>-->
            </div>
        </div>
    </section>
    <footer th:replace="~{fragments :: footer}">
    </footer>
</main>
<div th:replace="~{fragments::scripts}"></div>
</body>

</html>